.selos{
width: 1000px;   
height: 83px; 
margin: 0 auto;
display: flex;
align-items: center;
justify-content: center;
}

.selo{
    width: 250px;
    text-align: center;
    font-size:  1.5em;
    padding: 0 auto;
}